{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <main>
        <div class="class-section">
            <form method="POST">
                {% csrf_token %}

                <fieldset class="form-group">
                    <h1> Password share </h1>

                    {% if messages %}
                        {% for message in messages %}
                            <div class = 'alert alert-{{message.tags}}'>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {{ form|crispy }}

                    <div class="form-group">
                        <button class="btn btn-dark" type="submit"> Share </button>
                    </div>
                </fieldset>
            </form>
        </div>

   </main>
{% endblock content %}