{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <main>
        <h1>Shared Passwords</h1>
        {% if messages %}
            {% for message in messages %}
                <div class = 'alert alert-{{message.tags}}'>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <table class="table">
          <thead>
            <tr>
                <th scope="col">ID</th>
              <th scope="col">Password</th>
              <th scope="col">Share by</th>
                <th scope="col">Web address</th>
                <th scope="col">Description</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in object_list %}
              <tr>
                <td> {{ obj.id }}</td>
                <td> {{ obj.password.password_to_wallet }}</td>
                <td> {{ obj.share_by.login }}</td>
                <td> {{ obj.password.web_address }}</td>
                <td> {{ obj.password.description }}</td>
                <td>
                    <a href="{% url 'wallet:check' obj.password.id %}" class="btn btn-dark">Show</a>
                </td>
              </tr>
            {% endfor %}

          </tbody>
        </table>
    </main>
{% endblock content %}